html, body {
    margin: 0px; 
    height: 100%;
    
}
#desktop { display: inline;}
#programs {
    width: auto;
    height: auto;
}
#design {
    width: auto;
    height: auto;
    background-color: ghostwhite;
}
body {
    background-color: darkseagreen; 
    color: black;
    font-family: Georgia, Arial, serif;
    text-align: center;
    width: 100%;
}
body p {
    font-size: 1.5em; 
    padding: 10px 20px 50px 20px;
    text-align: left;
}
header { background-color: #218899;
         color: #000;
         font-family: Georgia, serif;
}
h1 {
    line-height: 200%; 
    color:gainsboro;
    background-position: right;
    background-repeat: no-repeat; 
    text-align: left;
    margin: 0px;; padding-left: 0px; 
    height: auto; width:100%; 
    font-size: 3em;
    text-align: center;
}
h2 { color: black;
     font-family: Georgia, serif;
     font-size: 1.5em;
     text-align: center;
}
h3 { color: black;}
dt { color: black;
     font-weight: 800;
}
footer {font-size: .70em;
        color:black;
        font-style: italic;
        text-align: center;
        padding: 0px;
        padding-bottom: 1px;
        background-color: gainsboro;
        width: 100%;
        position: sticky;
        top: 100px;
}
footer a {
    color: black; 
    text-decoration: none;}
img {
    height: auto;
    width: 100%;
    background-color: black;
    border: 5px solid #116699;
    padding: 10px;
}
main {
    display: block; 
    background-color: seashell; 
    padding: 1px 0px;
}
main a  { text-decoration: none; font-size: 1em; font-style: italic;}
main p { 
    padding-left: 300px;
    padding-right: 300px;
    text-indent: 2.5em;
}

nav { 
    background-color: #218899;
    width: 100%; 
    padding: 20px 5px 40px 0px;
    font-weight: 200;
}
nav a{ text-decoration: none; 
       font-size: 1em;
       float: left;
       padding-bottom: 10px;
       padding-left: 25px;
       font-size: 1.5em;
}
nav a:link { color: #550055;}
nav a:visited { color: #333;}
nav a:hover { color: lightpink;}
.imgRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.imgColumn {
    flex: 50%;
    max-width: 50%;
}
.imgColumn p{
    float:left;
    text-align: center;
}

